<a href="https://colab.research.google.com/github/Dr7445/Skills-bootcamp-project/blob/main/F1(25_03_2025).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# My first python program
print("Hello world")

Hello world

In [3]:
# Name
print('Dean') # single or double quotes can be used

Dean

In [4]:
# Using multiple print statements
print ('hello')
print ('world')

hello
world

In [5]:
# addition
6516165 + 1515151

8031316

In [6]:
#subtraction
58 -10

48

In [7]:
#multiply
10 * 10

100

In [8]:
#division
8 / 2

4.0

Variables

In [14]:
# A variable is a container that stores a value
name = 'Dean'
name = 'Andy'
print (name)

Andy

In [18]:
#using the = sign to join strings
name = 'Earl'
print ('my name is ' + name)

my name is Earl

In [19]:
#using a , to join string (automatically add a space)
name  = 'Earl'
print('My name is' , name)

My name is Earl