<a href="https://colab.research.google.com/github/Dr7445/Skills-bootcamp-project/blob/main/F2_(26_03_2025).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Dean')

Dean

The Basics

In [ ]:
#Variables: A container that can hold one value
day= 'wednesday'
print(day)
day = 'thursday'
print (day)

wednesday
thursday

In [ ]:
#calculation
num1 = 77
num2 = 55

answer = num1 * num2 #arithmetic symbols +,-,*,/
print(answer)

4235

In [ ]:
from os import name
#Joining strings

first_name = 'Dean'
middle_name = 'Joseph'
last_name = 'Robinson'

print(first_name,last_name)
print(first_name + ' ' + last_name)
print(first_name,middle_name,last_name)
print(f'{first_name} {middle_name} {last_name}') # f-strings

Dean Robinson
Dean Robinson
Dean Joseph Robinson
Dean Joseph Robinson

In [ ]:
# create a program to work out the area of a rectangle
height = 48
length = 27

#print(height*length)

area = height * length
print(area)

In [ ]:
from collections.abc import AsyncGenerator
# outputting strings

name = 'Dean'
age = 40
region = 'United Kingdom'
course = 'Data analytics'

print(name)
print(age)
print(region)
print(course)

In [ ]:
#Hello, my name is [name], my age is [age],
# I am from [region] and the course I am studying is called [course].

In [ ]:
# Strings

name = 'Dean'
age = '40'
region = 'United Kingdon'
Course = 'Data analytics'

print(f'Hello, my name is {name}, my age is {age}, I am from the  {region} and the course I am on is called {course}.')

In [ ]:
# Joining example

name = 'Dean'
age = 40 #integer

print('My name is ' + name + 'and my age is ' + str(age) + '.')

In [ ]:
# Data types

name = 'Dean'
age = 40
height = 1.86
course = 'Data'
mylist = [11,'Joanne',1.56]

print(type(name)) #string (text/sentance)
print(type(age)) #integer (whole number)
print(type(height)) #float (floating point) decimal
print(type(course)) #boolean (true/false)
print(type(mylist)) #list (variable that can contain multiple values)

In [ ]:
# forcing data types

value1 = str(8)
value2 = int(8)
value3 = float(8)

print(value1)
print(value2)
print(value3)

print(type(value1))
print(type(value2))
print(type(value3))

8
8
8.0
<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
# user input

name = input('what is your name? ')
age = input('what is your age ')
print('The name that you entered is ' + name + ' and the age you entered is ' + age + '.')

what is your name? dean
what is your age 40
The name that you entered is dean and the age you entered is 40.

what is the height 5
what is the length 5
the area is 25

In [6]:
# create a program to work out the area of a rectangle
height = int(input('what is the height '))
length = int(input('what is the length '))

#print(height*length)

area = height * length
print('the area is ' + str(area))

what is the height 10
what is the length 5
the area is 50

In [8]:
# Create a matrix style hacked computer message

name = input('Hello.....what is your name? ')


print('Hello, ' + name)
reply = input('')
print('I am morpheus, welcome to the matrix, ' + name + '.')
reply = input('')
print('The red pill takes you down the rabbit hole, the blue pill takes you back to sleep what will you chose ' + name + '?')
reply = input('')
print('welcome to the matrix ' + name + '!')

Hello.....what is your name? Dean
Hello, Dean
who is this?
I am morpheus, welcome to the matrix, Dean.
what do you want?
The red pill takes you down the rabbit hole, the blue pill takes you back to sleep what will you chose Dean?
the red pill!
welcome to the matrix Dean!