<a href="https://colab.research.google.com/github/Dr7445/Skills-bootcamp-project/blob/main/F3_(27_03_2025).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello world!')

Hello world!

Loan calculator

In [21]:
# Calculate the amount owed on a loan

loan_amount = 2500
interest_rate = 8/100
duration = 2

#calculate the interest owed

total_interest = loan_amount * interest_rate * duration

print('The interest is ' + str(total_interest))

# calculate the total to be repaid

total_owed = total_interest + loan_amount

print('total_owed is  ' + str(total_owed))

The interest is 400.0
total_owed is  2900.0

In [30]:
# Calculate the amount owed on a loan
# Interactive loan calculator

loan_amount = int(input('What is the loan amount? '))
interest_rate = int(input('Enter the interest rate: '))
duration = int(input('How long is the loan for '))

#calculate the interest owed

total_interest = loan_amount * interest_rate * duration

print('The interest is ' + str(total_interest))

# calculate the total to be repaid

total_owed = total_interest + loan_amount

print('total_owed is  ' + str(total_owed))

What is the loan amount? 10
Enter the interest rate: 5
How long is the loan for 5
The interest is 250
total_owed is  260

In [ ]:
loan_amount = input('what')

Errors

In [ ]:
# name - usually means there is avariable typed incorrectly
# type - usually means you are trying to join different data types
# syntax - broken the rules of the language
# logic - program runs, but gives incorrect result

Variables

In [31]:
# variable rules

# must start with a letter or underscore (_)
# only contain alpha-numeric characters (0-9,a-z,A-Z,_)
# cannot start with a number
# are case sensitive
# no spaces
# no keywords (eq. print, input, if, else, for, while ect)
# declare using single r double qutes do not mix
# myName = camelcase, myname = pascalcase, my_name = snake_case

Strings

In [36]:
myString =  'This is my python programming class.'
print(myString[11])

p

In [49]:
myString =  'This is my python programming class.'
print(myString[11:17])
print(myString[5:7])
print(myString[30])
print(myString[15])
print(myString[15])
print(myString[31])

python
is
c
o
o
l

In [53]:
myString = 'This is a Data Analytics class.'
print(myString.upper())
print(myString.lower())
print(myString.capitalize())

THIS IS A DATA ANALYTICS CLASS.
this is a data analytics class.
This is a data analytics class.

In [55]:
myString = 'Im looking forawrd to having a day off tomorrow, lol :P'
print ('a' in myString)

True

Lists

In [58]:
# empty list
myList = []
mylist2 = ['Dean', 'Georgina']
#print(myList2)

['Dean', 'Georgina']

In [70]:
# creating a list of fruits

myfruits = ['Kiwi', 'Banana', 'Pear', 8,32,False]
print(myfruits)
print(len(myfruits))

#removing items
myfruits.remove(False)
myfruits.remove(8)
myfruits.remove(32)

print(myfruits)
print(len(myfruits))

# appending items
myfruits.append('Apple')
myfruits.append('orange')
myfruits.append('grapes')
myfruits.append('strawberry')
myfruits.append('lemons')

print(myfruits)
print(len(myfruits))

#sorting the list
myfruits.sort(reverse = True)
print(myfruits)

['Kiwi', 'Banana', 'Pear', 8, 32, False]
6
['Kiwi', 'Banana', 'Pear']
3
['Kiwi', 'Banana', 'Pear', 'Apple', 'orange', 'grapes', 'strawberry', 'lemons']
8
['strawberry', 'orange', 'lemons', 'grapes', 'Pear', 'Kiwi', 'Banana', 'Apple']

In [ ]:
# Arithmetic operators

#basic arithmetic operators
5 + 6 #addition
4 - 8 #subtraction
4 * 4 #mulplication
3 / 4 #division

In [71]:
#modulas: returns the remainder only

print(30 % 3)

0

In [72]:
#exponential: to the power of

print(6 ** 10)

60466176

In [73]:
# floor divison: ignores the remainder
print(643 // 7)

91

In [ ]:
#